/*NAVBAR*/

.nav-o{

    padding-left: 70px;
    padding-right: 70px;
}
.r{
    padding-top: 100px;
}
/*
.nav-o{
 
    width: 1440px;
    height: 105px;
    left: 0px;
    top: 0px;

}

.nav-brand-o{
    margin-right: 9px;
}

.nav-btn-o{
width: 120px;
height: 48px;
top: 28px;
background: #FFFFFF;
border: 1px solid rgba(0, 0, 0, 0.25);
box-sizing: border-box;
border-radius: 5px;
margin-right: 10px;
} */